body {
    font-family: Arial, sans-serif;
    background-color: skyblue;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: green;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}

.code-block {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.button {
    display: inline-block;
    background-color: #45a049;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: blue;
}