body {
    font-family: Arial, sans-serif;
    background-color: skyblue;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#app {
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#qrcode {
    margin-top: 20px;
    max-width: 300px;
}

/* Optional: Center the QR code container */
@media screen and (max-width: 400px) {
    #qrcode {
        margin: 20px auto;
    }
}
