body {
    font-family: Arial, sans-serif;
    background-color: skyblue;
    margin: 0;
}

.container {
    background-color: #fff;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    text-align: center;
}

.button {
    display: inline-block;
    background-color: #45a049;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: blue;
}